<div class="container ">

    <p>AGREGAR PELÍCULA</p>

    <form class="row g-3">

        <div class="col-auto">
            <label for="inputCode" class="form-label">Código</label>
            <input type="text" class="form-control" id="inputCode">
        </div>


        <div class="col-md-10">
            <label for="inputTitle" class="form-label">Título</label>
            <input type="text" class="form-control" id="inputTitle">
        </div>

        <div class="col-md-3">
            <label for="inputTitle" class="form-label">Año</label>
            <input type="text" class="form-control" id="inputTitle">
        </div>
        <div class="col-md-3">
            <label for="inputTitle" class="form-label">Duración</label>
            <input type="text" class="form-control" id="inputTitle">
        </div>
        <div class="col-md-4">
            <label for="inputTitle" class="form-label">Idioma</label>
            <input type="text" class="form-control" id="inputTitle">
        </div>

        <div class="col-md-3">
            <label for="inputTitle" class="form-label">Estreno</label>
            <input type="text" class="form-control" id="inputTitle">
        </div>
        <div class="col-md-3">
            <label for="inputTitle" class="form-label">País</label>
            <input type="text" class="form-control" id="inputTitle">
        </div>

        <div class="col-12">
            <button type="submit" class="btn btn-primary">Guardar</button>
        </div>
    </form>

</div>







<!-- <div class="container">
    <p>AGREGAR EQUIPO</p>
    <div class="row">
        <div class="col-sm-6">
            <form>
                <div class="mb-3">
                    <label class="form-label">Nombre de Equipo</label>
                    <input type="text" class="form-control" name=" ">
                </div>

                <div class="mb-3">
                    <label class="form-label">logo</label>
                    <input type="text" class="form-control" name=" ">
                </div>

                <button class="btn btn-primary">Agregar</button>
            </form>
        </div>
    </div>
</div> -->